* {
    margin: 0;
    padding: 0;
}

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(img/Beans.jpeg);
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    min-height: 475px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#joke {
    min-height: 150px;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.800);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 2rem;
}

.button button {
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.button button:hover {
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}


/* .adult {
    display: flex;
    flex-direction: ;
} */

.adult h2 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
}

.toggle {
    width: 40px;
    background-color: white;
    height: 30px;
    border-radius: 15px;
    position: relative;
    margin: auto;
}

#toggle-button {
    height: 100%;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    border: none;
    position: absolute;
    right: 0%;
}

#toggle-button:hover {
    cursor: pointer;
}

.on {
    left: 0%;
}

@media screen and (max-width: 400px) {
    .container {
        width: 260px;
    }
    
    #joke {
        min-height: 180px;
        font-size: 1.4rem;
    }

    .button button {
        font-size: 1.1rem;
    }

    .adult h2 {
        font-size: 1.3rem;
    }
  }



